# This config uses industrial_ci (https://github.com/ros-industrial/industrial_ci.git).
# For troubleshooting, see readme (https://github.com/ros-industrial/industrial_ci/blob/master/README.rst)

name: CI - Linux via ROS

# This determines when this workflow is run
on:
  push:
    paths-ignore:
      - '*.md'
      - 'LICENSE'
      - '.pre-commit-config.yaml'
  pull_request:
    paths-ignore:
      - '*.md'
      - 'LICENSE'
      - '.pre-commit-config.yaml'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  CI:
    strategy:
      fail-fast: false
      matrix:
        env:
          - {ROS_DISTRO: humble}
          - {ROS_DISTRO: jazzy}
          - {ROS_DISTRO: kilted}
          - {ROS_DISTRO: rolling}
    env:
      PRERELEASE: true
      BUILDER: colcon
      ROS_DISTRO: ${{ matrix.env.ROS_DISTRO }}
      VERBOSE_OUTPUT: true
      VERBOSE_TESTS: true
      CCACHE_DIR: ${{ github.workspace }}/.ccache
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: 'ros-industrial/industrial_ci@ba2a3d0f830f8051b356711a8df2fedfc5d256cf'

  check:
    if: always()
    name: check-ros-ci

    needs:
    - CI

    runs-on: ubuntu-latest

    steps:
    - name: Decide whether the needed jobs succeeded or failed
      uses: re-actors/alls-green@release/v1
      with:
        jobs: ${{ toJSON(needs) }}
